a {
    text-decoration: none;
    color: black;
}

.wrap {
    width: 90%;
    margin: 0 auto;
}

.siteLogo {
    display: flex;
    justify-content: space-between;
}

.siteLogo__heading {
    margin: 50px 15%;
    color: rgb(59, 59, 59);
    font-size: 30px;
    text-transform: uppercase;
}

.horizontal {
    margin:10px 0;
    border-top: 1px solid grey;
}

.nav__list {
    display: flex;
    justify-content: center;
}

.nav__item {
    border: 1px solid black;
    background-color: gray;
    padding: 10px;
    position: relative;
}

.nav__item:hover, .subnav__item:hover {
    background-color: rgb(88, 88, 88);
    transition: .3s all;
}

.nav__item:hover .subnav {
    display: flex;
    flex-direction: column;
}

.subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: -1px;
}

.subnav__item {
    border: 1px solid black;
    background-color: grey;
    padding: 10px;
}

.main {
    width: 90%;
    margin: 0 auto;
}

.main__img {
    display: block;
    width: 100%;
    margin: 0;
}

.main__heading {
    margin: 24px 4%;
    font-size: 36px;
}

.main__text,
.main__list-text {
    font-size: 24px;
    color: rgb(52, 43, 59);
    margin-bottom: 24px;
    text-indent: 40px;
}

.main__image-spec {
    display: flex;
    align-items: center;
}

.article__image {
    width: 96%;
    margin-bottom: 24px;
}

.main__list {
    list-style: square;
}

.main__form {
    margin-bottom: 0;
}

.main__inner {
    width: 30%;
    margin-bottom: 5px;
    padding: 6px 3px;
    border: 1px solid #d7d9d7;
    border-radius: 4px;
    color: #3a3a51;
    font-size: 1rem;
}

.main__form-btn {
    cursor: pointer;
    width: 22%;
    padding: 10px;
    margin-bottom: 24px;
    font-weight: bold;
    background-color: aliceblue;
    border: 1px solid #d7d9d7;
    border-radius: 4px;
}

.main__form-btn:hover {
    background-color: #d8d9d7;
    transition: all .2s;
}

.underline {
    width: 100%;
    padding: 50px;
    background-color: #3a3a51;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.9) 0px 18px 36px -18px inset;
}

.up_arrow {
    width: 50px;
    height: 50px;
}

#fixed {
    position: fixed;
    right: 5%;
    top: 80%;
    z-index: 1000;
}
.spec {
    font-weight: bold;
}

.mod {
    font-style:inherit;
}

.mod__style {
    color: red;
}
/* ------------------------ */